#footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    padding: 8px 0;
    width: 100%;
    z-index: 999;
    color: #fff4d5;
    height: 85px;
    .bb{
        color: #fff4d5;
        font-size: 30px;
        margin: 0 10px;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        opacity: .7;
    }
    #footer-text{
        margin-top: 18px;
        font-size: 12px;
    }
  }
  