#about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  color: rgb(200,200,200);
  background-color: #000416;

  h2 {
    color: orange;
    opacity: .7;
    text-align: center;
    position: relative;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    animation: show-h 1.5s ease-in-out;
  } 
  @keyframes show-h {
    0%,30%{transform: scale(0) rotateX(180deg)}
    90%{
      transform: scale(1.1) rotateX(440deg);
      opacity: 1;
     }
     
      100%{transform: scale(1) rotateX(360deg)}
  }

  .me-container {
    overflow: hidden;
    position: relative;
    padding:  0 20px;
    width: 100%;
    text-align: center;
    img{
      float: left;
      width: 50%; 
      height: 100%; 
      border-top: 1px solid white;
      border-right: 1px solid transparent;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      background-color: #00126c;
      border-radius: 50%;
      margin-bottom: 10px;
      margin-top: 10px;
      animation: show-img 2s ease-in-out;
    }
    @keyframes show-img {
      0%,30%{
        opacity: 0;
        transform: translateX(-100vw);
      }
      60%{
        opacity: 0;
      }
      100%{
        opacity: 1;
        transform: translateX(0);
      }
    }
    #p1{
     
      animation: p1 2.5s ease-in-out;
    }
    @keyframes p1 {
      0%,80%{
        opacity: 0;
        transform: translateX(100vw);
      }
      90%{
        transform: translateX(-5vw);
      }
      100%{
        opacity: 1;
        transform: translateX(0);
      }
    }
    #p2{
      animation: p2 3s ease-in-out;
    }
    @keyframes p2 {
      0%,80%{
        opacity: 0;
        transform: translateX(-100vw);
      }
      90%{
        transform: translateX(5vw);
      }
      100%{
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  animation: bg 1.2s ease-in-out;
}

@keyframes bg{
  0%,50%{
    background-color: rgba(22, 29, 61,0);
  }
  100%{
    background-color: #000416;
  }
}
  
  
  