#about {
  width: 100%;
  min-height: 100vh;
  color: white;
  padding-bottom: 20vh;
  h3 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    margin: 10px;
    text-decoration: underline;
    text-decoration-color: #00ffbb;
  }
  hr {
    margin: 20px;
  }
  .me-container {
    background-color: rgba(0, 0, 0, 0.48);
    padding: 7px;
    width: 90%;
    margin: 10px auto;
  }
  .center {
    text-align: center;
    padding: 0 20px;
  }
  #profile-pic {
    display: block;
    width: 125px;
    margin: 0 auto;
    
    img{
      width: 100%;
      // border: 1px solid #00ffbb;
      box-shadow: 0px 0px 5px #00ffbb;
      border-radius: 50%;
      animation: bg-color 3s ease-in-out infinite
      }

      @keyframes bg-color {
        0%{
          box-shadow: 0px 0px 5px #00ffbb;
        }
        50%{
          box-shadow: 0px 0px 5px orange;
        }
        100%{
          box-shadow: 0px 0px 5px #00ffbb;
        }
      }
    
  }
  h2 {
    text-align: center;
    position: relative;
  }
  p {
    position: relative;
  }
  #about-header {
    background: url(../../../images/about-header.jpg) no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 10px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-bottom: 2px solid #00ffbb
;  }
  .read-button2 {
    background: none;
    color: orange;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 2vw auto;
    padding: 10px;
    border: 1px solid;
    transition: 0.4s;
    border-radius: 5px;
  }
  .read-button2:hover {
    color: rgb(40, 40, 40);
    background-color: orange;
    transform: scale(1.1);
    // font-weight: bold;
  }
  a,
  a:visited {
    color: orange;
  }
  a:hover {
    color: orangered;
  }
  .self {
    display: none;
    animation: slide-down 0.2s ease-in-out;
  }
  @keyframes slide-down {
    0% {
      width: 25%;
    }
    100% {
      width: 100%;
    }
  }
  #str-and-weak {
    display: flex;
    justify-content: center;
    h3 {
      margin: 0;
      background-color: black;
      color: white;
      text-decoration: none;
    }
    ul {
      list-style: none;
      line-height: 25px;
      text-align: center;
    }
    li:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.5);
      color:black;
    }
    li:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.5);
      color: rgba(255, 255, 255, 0.7);

    }
    li:nth-child(odd):hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
    }
    li:nth-child(even):hover {
      background-color: rgba(0, 0, 0, 1);
      color: rgba(255, 255, 255, 1);

    }
    #strengts,
    #weaknesses {
      margin: 0 10px;
      width: 200px;
    }
  }
  #heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
      width: 17%;
      min-width: 200px;
      text-align: center;
      img {
        margin-top: 20px;
        width: 100%;
        border-radius: 50%;
        border-width: 2px;
      }
    }
  }
}

.side-note {
  color: orange;
  cursor: pointer;
}
