nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  top: 10px;
  width: 100%;
  z-index: 999;
  .bb{
    font-family: 'Roboto', sans-serif;
    color: #fff4d5;
  }
}
  
// @media screen and (min-height: 600px) {
//   nav {
//     overflow-y: hidden;
//   }
// }
