#experience {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 100px;
  color: rgb(200,200,200);
  background-color: #000416;
  text-align: center;
  overflow: hidden;
  animation: bg 1.2s ease-in-out;
  
  #header-line{
    height: 2px;
    background-color: rgb(200,200,200);
    width: 50%;
    margin: 10px auto;
    animation: header-line .8s ease-in-out; 
  }
  @keyframes header-line {
    0%{
      width: 0%;
    }
    90%{
      width: 55%;
    }
    100%{
      width: 50%;
    }
  }
  #work-gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
  
  .work{
    width: (100vw /3);
    height: (100vw /3);
    display: none;
    img{
      width: 100%;
    }
  }
  .show{
    display: block !important;
    animation: show .8s ease-in-out;
  }
  @keyframes show {
    0%{
      opacity: 0;
      transform: scale(0);
    }
    70%{
      transform: scale(1.2);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }


}
