#experience {
  width: 100%;
  min-height: 100vh;
  color: white;
  padding-bottom: 5vh;
  background: #222222cc;
}

#experience p {
  text-align: center;
}

#experience #experience-header {
  background: url(../../../images/experience-header.jpeg) no-repeat center 100%;
  background-size: 100%,100%;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #00ffbb;
  padding: 10vw 0;
}

#experience #header-buttons {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#experience #header-buttons button {
  background: rgba(0, 0, 0, 0.48);
  width: 100%;
  padding: 5px 0;
  color: white;
}

#experience #header-buttons .center-button {
  border-left: 1px solid #00ffbb;
  border-right: 1px solid #00ffbb;
}

#experience .cert {
  color: #00ffbb;
}

#experience a,
#experience a:visited {
  color: orange;
}

#experience a:hover {
  color: orangered;
}

#experience #online,
#experience #dci,
#experience #tutor {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.48);
}

#experience #online p,
#experience #dci p,
#experience #tutor p {
  text-align: center;
  margin: 10px auto;
}

#experience #online ul,
#experience #dci ul,
#experience #tutor ul {
  width: 300px;
  margin: 5px auto 10px auto;
  list-style: none;
  line-height: 25px;
}

#experience #online .header-image,
#experience #dci .header-image,
#experience #tutor .header-image {
  display: block;
  width: 70%;
  max-width: 300px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 20px auto;
}

#experience #online .header-image:hover,
#experience #dci .header-image:hover,
#experience #tutor .header-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#experience #online .book,
#experience #dci .book,
#experience #tutor .book {
  width: 40%;
  margin: 5%;
  border: 1px solid orange;
}

#experience .online,
#experience .dci,
#experience .tutor {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: none;
  -webkit-animation: unfold 0.4s cubic-bezier(0.59, 1.51, 0.72, 0.8);
          animation: unfold 0.4s cubic-bezier(0.59, 1.51, 0.72, 0.8);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

@-webkit-keyframes unfold {
  0% {
    -webkit-transform: scale(0) translate(60vw, 90vh);
            transform: scale(0) translate(60vw, 90vh);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg) translate(0);
            transform: scale(1) rotate(360deg) translate(0);
  }
}

@keyframes unfold {
  0% {
    -webkit-transform: scale(0) translate(60vw, 90vh);
            transform: scale(0) translate(60vw, 90vh);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg) translate(0);
            transform: scale(1) rotate(360deg) translate(0);
  }
}

#experience .fold {
  text-align: right;
  -webkit-animation: fold 0.4s ease-in-out;
          animation: fold 0.4s ease-in-out;
}

@-webkit-keyframes fold {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(0) rotate(900deg) translate(60vw, 60vh);
            transform: scale(0) rotate(900deg) translate(60vw, 60vh);
  }
}

@keyframes fold {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(0) rotate(900deg) translate(60vw, 60vh);
            transform: scale(0) rotate(900deg) translate(60vw, 60vh);
  }
}

#experience #gitpen {
  text-align: center;
  margin: 5vw;
}

#experience #gitpen a {
  font-size: 50px;
  margin: 5vw;
}

#experience .select {
  -webkit-animation: fadein .2s ease-in;
          animation: fadein .2s ease-in;
  color: #00ffbb  !important;
  border-bottom: orange 1px solid;
}

@-webkit-keyframes fadein {
  0% {
    border-bottom: solid 1px transparent;
    color: transparent  !important;
  }
  100% {
    border-bottom: solid 1px orange;
    color: #00ffbb  !important;
  }
}

@keyframes fadein {
  0% {
    border-bottom: solid 1px transparent;
    color: transparent  !important;
  }
  100% {
    border-bottom: solid 1px orange;
    color: #00ffbb  !important;
  }
}
/*# sourceMappingURL=Experience.css.map */