#experience {
  width: 100%;
  min-height: 100vh;
  color: white;
  padding-bottom: 5vh;
  background: #222222cc;
  overflow-x: hidden;
  p {
    text-align: center;
  }
  #experience-header{
    background: url(../../../images/experience-header.jpeg) no-repeat center 100% ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%,100%;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #00ffbb;
  padding: 10vw 0;
}
  #header-buttons {
    display: flex;
    justify-content: space-around;
    button{
      background: rgba(0, 0, 0, 0.48);
      width: 100%;
      padding: 5px 0;
      color: white;
    }
    .center-button{
      border-left: 1px solid #00ffbb;
      border-right: 1px solid #00ffbb;
    }

  }
  .cert {
    color: #00ffbb;
  }
  // .dci,
  // .tutor {

  //   margin: 0 auto;
  // }
  a,
  a:visited {
    color: orange;
  }
  a:hover {
    color: orangered;
  }
  .online,
  .dci,
  .tutor {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: none;
    // overflow: hidden;
    animation: unfold 0.4s cubic-bezier(0.59, 1.51, 0.72, 0.8);
    transform-origin: top center;
  }
  @keyframes unfold {
    0% {
      transform: scale(0) translate(60vw, 90vh);
    }

    100% {
      transform: scale(1) rotate(360deg) translate(0);
    }
  }
  .fold {
    text-align: right;
    animation: fold 0.4s ease-in-out;
  }
  @keyframes fold {
    0% {
      transform: scale(0.4);
    }

    100% {
      transform: scale(0) rotate(900deg) translate(60vw, 60vh);
    }
  }
  #buttons {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    button {
      border: none;
      height: 15px;
      width: 50%;
      display: block;
      background-color: #00ffbb;
      outline: none;
      cursor: pointer;
      transition: 0.6s;
    }

    button:first-child {
      background-color: #259b7c;
    }

    button:hover {
      background-color: orange;
    }
  }
  #online {
    background-color: #333;
    overflow-x: hidden;
    p {
      text-align: center;
      margin: 10px auto;
    }

    ul {
      width: 300px;
      margin: 5px auto 10px auto;
      list-style: none;
      line-height: 25px;
    }

  


    .header-image {
      display: block;
      width: 70%;
      max-width: 300px;
      margin: 10px auto;
      transition: 0.4s;
    }

    .header-image:hover {
      transform: scale(1.1);
    }

    .book {
      width: 40%;
      margin: 5%;
      border: 1px solid orange;
    }

    .mySlides {
      display: none;
      width: 100%;
      margin: 0 auto;
      // transform: translateX(100vw);
    }

    .slide-from-rigth {
      animation: slide-from-right 0.5s cubic-bezier(0.57, 1.46, 0.57, 0.82);
    }

    @keyframes slide-from-right {
      0% {
        transform: translateX(100vw);
      }
      100% {
        transform: translateX(0);
      }
    }

    .slide-away-right {
      animation: slide-away-right 0.5s cubic-bezier(0.57, 1.46, 0.57, 0.82);
    }

    @keyframes slide-away-right {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100vw);
      }
    }
    .slide-from-left {
      animation: slide-from-left 0.5s cubic-bezier(0.57, 1.46, 0.57, 0.82);
    }
    @keyframes slide-from-left {
      0% {
        transform: translateX(-100vw);
      }
      100% {
        transform: translateX(0);
      }
    }
    .slide-away-left {
      animation: slide-away-left 0.5s cubic-bezier(0.57, 1.46, 0.57, 0.82);
    }
    @keyframes slide-away-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100vw);
      }
    }
  }
  #online,
  #dci,
  #tutor {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.48);
    p:first-child {
      margin-top: 2vw;
    }
    p {
      margin: 10px 0;
    }
    img {
      width: 70%;
      max-width: 300px;
      margin: 10px;
    }
  }


  #gitpen {
    text-align: center;
    margin: 5vw;
    a {
      font-size: 50px;
      margin: 5vw;
    }
  }
  .select {
    animation: fadein .4s ease-in;
    border-bottom: #00ffbb 1px solid;
  }
  @keyframes fadein {
    0%{
    border-bottom: none;
    }
    100%{
    border-bottom: #00ffbb 1px solid;
    }
  }
}
