#skills {
  padding-top: 5%;
  min-height: 100vh;

  h4,
  h3,
  p {
    text-align: center;
    color: white;
  }
  h3 {
    margin-top: 4vw;
  }
  .container {
    width: 80%;
    margin: 2vw auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .language {
      width: 30%;
      p {
        color: orange;
      }
      h3 {
        margin-top: 0;
      }
      img {
        width: 70%;
        border-radius: 50%;
        box-shadow: 2px 2px 10px black;
      }
    }
  }
  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 125px;
    font-size: 50px;
    border: 1px solid #50efbc;
    color: #50efbc;
    margin: 3px;
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 0px 5px white;

    border-radius: 10px;
    span {
      color: #50efbc;

      font-size: 12px;
      margin-top: 12px;
    }

    .confidence {
      font-size: 12px;
      padding: 0;
      margin-top: 10px;
      div {
        font-size: 12px;
        padding: 0;
        flex-direction: row;
        height: 20px;
      }
      i {
        color: orange;
      }
    }
    img {
      width: 50px;
    }
  }
  .icon-container:hover {
    color: rgb(10, 231, 213);
    border: 1px solid rgb(10, 231, 213);
  }
}
