@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  scroll-behavior: smooth;
  background-color: rgb(52, 66, 127);
  min-height: 100vh;
}
.my-container{
  position: relative;
  background-color: rgba(0, 0, 0, 0.48);
  padding: 7px;
  width: 90%;
  margin: 10px auto;
}
