@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  background: url(images/background2.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #root {
    background: rgba(40, 40, 40, .8);
    min-height: 100vh;
    display: flex;
  }
}

h2 {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px black;
  color: #00ffbb;
  margin-bottom: 10px;
}
p {
  font-family: "Poppins", sans-serif;
}
.first-letter {
  color: orange;
  font-family: "Bangers", cursive;
  font-size: 25px;
  text-shadow: 2px 2px 5px black;
}
.jump {
  display: inline-block;
  animation: move 0.4s ease-out;
  transform-origin: bottom center;
}
@keyframes move {
  10%,
  35% {
    transform: scale(2, 0.8) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -10px);
    color: orangered;
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}
.read-button {
  background: none;
  border: none;
  color: orange;
  cursor: pointer;
  outline: none;
}
#experience,
#contact,
#skills,
#about {
  overflow: hidden;
  animation: show 0.2s ease-in-out;
}
@keyframes show {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
